.about {
  text-align: center;
}

.about__title {
  @include title;
  margin-bottom: 48px;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 34px;
  }
}

.about-list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1166px;
  margin: 0 auto;

  @media (max-width: $tablet-width-only) {
    max-width: 72.5%;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 81%;
    justify-content: center;
  }
}

.about-list__item {
  max-width: 263px;
  max-height: 125px;

  &:not(:first-child) .about-list__text {
    margin-top: 13px;
  }

  @media (max-width: $tablet-width-only) {
    margin-bottom: 39px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 35px;


    &:not(:first-child) .about-list__text {
      margin-top: 6px;
    }
  }
}

.about-list__num {
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;
  letter-spacing: -1.27273px;
  color: $egg-blue;
}

.about-list__text {
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $black;
  margin-top: 16px;

  @media (max-width: $mobile-width-only) {
    font-size: 18px;
    margin-top: 15px;
    padding-left: 2px;
  }
}
