.catalog {
  text-align: center;
  background-color: $alice-blue;
  padding-top: 125px;
  padding-bottom: 127px;
  overflow: hidden;

  @media (max-width: $tablet-width-only) {
    padding-top: 36px;
    padding-bottom: 47px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 35px;
    padding-bottom: 33px;
  }
}

.catalog__title {
  @include title;
  margin-bottom: 49px;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 35px;
  }
}

.catalog__types-list {
  margin: 0 auto;
}
