.contacts-list {
  display: flex;
  padding: 0;
  list-style: none;
  max-width: 562px;

  @media (max-width: $tablet-width-only) {
    max-width: 560px;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    justify-self: center;
  }
}

.contacts-list__item {
  &:not(:last-child) {
    margin-right: 90px;

    @media (max-width: $tablet-width-only) {
      margin-right: 92px;
    }

    @media (max-width: $mobile-width-only) {
      margin-right: 0;
      margin-bottom: 14px;
      padding-left: 10px;
    }
  }

  &:last-child {
    margin-top: 2px;

    @media (max-width: $tablet-width-only) {
      margin-top: 1px;
    }

    @media (max-width: $mobile-width-only) {
      margin-left: -9px;
    }
  }
}

.contacts-list__link {
  line-height: 32px;
  color: $black-50;
  display: flex;
  align-items: center;

  &:hover {
    color: $egg-blue;
  }

  @media (max-width: $mobile-width-only) {
    justify-content: center;
  }
}

.contacts-list__icon {
  fill: $egg-blue;
  margin-right: 15px;
  opacity: 1;

  &--phone {
    fill: transparent;
    stroke: $egg-blue;
  }
}
