.contacts-list {
  display: flex;
  padding: 0;
  list-style: none;
  max-width: 558px;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    justify-self: center;
  }
}

.contacts-list__item {
  @media (max-width: $mobile-width-only) {
    margin-left: -6px;
  }

  &:not(:last-child) {
    margin-right: 92px;

    @media (max-width: $mobile-width-only) {
      margin-right: 0;
      margin-bottom: 14px;
      padding-left: 14px;
    }
  }
}

.contacts-list__link {
  line-height: 32px;
  color: $black;
  opacity: 0.5;
  display: flex;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    justify-content: center;
  }
}

.contacts-list__icon {
  fill: $egg-blue;
  margin-right: 15px;

  &--phone {
    fill: transparent;
    stroke: $egg-blue;
  }
}
