.contacts-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  max-width: 562px;

  @media (max-width: $tablet-width-only) {
    max-width: 560px;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    justify-self: center;
  }
}

.contacts-list__item {

  margin-right: 90px;

  @media (max-width: $tablet-width-only) {
    margin-right: 92px;
    margin-top: 3px;
  }

  @media (max-width: $mobile-width-only) {
    margin-right: 0;
    margin-bottom: 11px;
    padding-left: 8px;
  }

  &:nth-child(2n) {
    margin-top: 2px;
    margin-right: 0;

    @media (max-width: $tablet-width-only) {
      margin-top: 3px;
    }

    @media (max-width: $mobile-width-only) {
      margin-left: -11px;
    }
  }

  a {
    line-height: 32px;
    color: $black-50;
    display: flex;
    align-items: center;

    &:hover {
      color: $egg-blue;
    }

    @media (max-width: $mobile-width-only) {
      justify-content: center;
      font-size: 16px;
    }
  }

  svg {
    stroke: $egg-blue;
    fill: transparent;
    margin-right: 15px;
    margin-top: -4px;
  }

  &:first-child svg {
    fill: $egg-blue;
    stroke: none;
    margin-top: 0;
  }
}
