.feedback {
  max-width: 327px;

  @media (max-width: $tablet-width-only) {
    width: 42%;
  }

  @media (max-width: $mobile-width-only) {
    width: 90%;
  }

  form {
    text-align: center;
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;

    @media (max-width: $tablet-width-only) {
      padding-left: 2px;
    }

    @media (max-width: $tablet-width-only) {
      padding-left: 0;
    }
  }

  legend {
    color: $white;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.005em;
    padding: 0;
    margin-bottom: 18px;

    @media (max-width: $tablet-width-only) {
      font-size: 18px;
      color: $black;
      margin-bottom: 29px;
    }

    @media (max-width: $mobile-width-only) {
      margin-bottom: 20px;
    }
  }

  input {
    width: 327px;
    height: 48px;
    border: 1px solid $link-water;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 14px 29px 10px 29px;

    &::placeholder {
      font-size: 15px;
      line-height: 24px;
      color: $nero;
      opacity: 0.14;
    }

    @media (max-width: $tablet-width-only) {
      width: 321px;
      padding-top: 12px;
      padding-left: 22px;
    }

    @media (max-width: $mobile-width-only) {
      width: 100%;
    }
  }

  label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  button {
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    color: $black;
    background-color: $egg-blue;
    padding: 16px 51px 15px 50px;
    width: 325.13px;
    border-radius: 6px;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: lighten($egg-blue, 10%);
      color: $black-80;
    }

    @media (max-width: $tablet-width-only) {
      padding: 17px 49px 13px 49px;
      width: 321px;
    }

    @media (max-width: $mobile-width-only) {
      padding: 13px 32px 15px 32px;
      width: 286.35px;
    }
  }
}
