.feedback {
  max-width: 327px;
}

.feedback__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.feedback__legend {
  color: $white;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  padding: 0;
  margin-bottom: 18px;
}
.feedback__input {
  width: 327px;
  height: 48px;
  border: 1px solid $link-water;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 14px 29px 10px 29px;

  &::placeholder {
    font-size: 15px;
    line-height: 24px;
    color: $nero;
    opacity: 0.14;
  }
}

.feedback__btn {
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: $black;
  background-color: $egg-blue;
  padding: 16px 52px;
  border-radius: 6px;
  border:none;
  cursor: pointer;
}
