
.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 876px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $white-20;
  padding-top: 14px;


  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.main-nav__item {
  padding: 13px 21px;

  a {
    font-weight: 300;
    color: $white;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.5;
    }
  }
}


.main-nav__toggle {
  display: none;

  @media (max-width: $tablet-width-only) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: $egg-blue;
    border: none;
    cursor: pointer;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  width: 22.5px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 6px 0 0 $black, 0 12px 0 0 $black;
}


.main-nav--opened .main-nav__toggle {
  background: $white;
  width: 50px;
  height: 50px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
    width: 26px;
    height: 2px;
    background-color: $black-russian-20;
    z-index: 100;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $tablet-width-only) {
  .main-nav__list {
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .main-nav__item {
    background-color: $white-smoke;
    margin-bottom: 40px;
    padding: 15px 20%;
    position: relative;
    cursor: pointer;

    a {
      font-weight: 400;
      color: $tuna;
      font-size: 20px;
    }

    &:first-child {
      margin-top: 50px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 10%;
      width: 12px;
      height: 12px;
      border: 3px solid $tuna;
      border-bottom: transparent;
      border-left: transparent;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  .main-nav--opened .main-nav__list {
    display: bllock;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .page-header--nojs .main-nav__list {
    display: block;
    top: -100vh;
  }

  .page-header--nojs .page-header__wrapper {
    margin-top: 100vh;
  }

  .page-header--nojs .main-nav__toggle {
    display: none;
  }
}


@media (max-width: $mobile-width-only) {
  .main-nav__item {
    background-color: $white-smoke;
    margin-bottom: 30px;
    padding: 17px 5%;
    position: relative;
    cursor: pointer;

    &:first-child {
      margin-top: 85px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 8%;
      width: 9px;
      height: 9px;
      border: 2px solid $tuna;
      border-bottom: transparent;
      border-left: transparent;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  a {
    font-weight: 400;
    color: $tuna;
    font-size: 20px;
  }
}
