.page-main {
  margin-bottom: 250px;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 118px;
  }
}

.page-main__about {
  margin-top: 249px;
  margin-bottom: 50px;

  @media (max-width: $tablet-width-only) {
    margin-top: 10px;
    margin-bottom: 48px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 37px;
  }
}


