.page-header {
  background-color: $black;

  @media (max-width: $tablet-width-only) {
    background-color: $white;
  }
}

.page-header__wrapper {
  height: 826px;
  background: $black url("../img/promo-bike.jpg") no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: $black url("../img/promo-bike@2.jpg") no-repeat;
    background-size: 1440px 825px;
    background-position: center top;
  }

  @media (max-width: $tablet-width-only) {
    height: 340px;
    background: $black url("../img/promo-bike-tablet.jpg") no-repeat;
    background-size: cover;
    background-position: center top;
    margin-bottom: 420px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: $black url("../img/promo-bike-tablet@2.jpg") no-repeat;
      background-size: 767px 340px;
      background-position: center top;
    }
  }

  @media (max-width: $mobile-width-only) {
    height: 390px;
    background: $black url("../img/promo-bike-mobile.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 437px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: $black url("../img/promo-bike-mobile@2.jpg") no-repeat;
      background-size: 319px 390px;
      background-position: center top;
    }
  }
}

.page-header__grid {
  width: 879px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 62px 257px 267px;
  margin: 0 auto;

  @media (max-width: $tablet-width-only) {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 290px 350px;
  }
}

.page-header__logo {
  grid-row: 3 / 4;
  grid-column: 1 / 2;

  @media (max-width: $tablet-width-only) {
    grid-row: 1;
  }
}

.page-header__main-nav {
  grid-row: 1 / 2;
  grid-column: 1 / 4;

  @media (max-width: $tablet-width-only) {
    grid-row: 1;
    padding: 0;
  }
}

.page-header__title {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  margin-top: 5px;

  @media (max-width: $tablet-width-only) {
    grid-row: 2 / 3;
    grid-column: 1;
    text-align: center;
    margin: 0 auto;
  }
}

.page-header__feedback {
  margin-top: 5px;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  justify-self: end;

  @media (max-width: $tablet-width-only) {
    grid-row: 3 / 4;
    grid-column: 1;
    margin: 0 auto;
    margin-top: 95px;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 145px;
  }
}
