.page-main {
  margin-bottom: 250px;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 155px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 118px;
  }
}

.page-main__about {
  margin-top: 150px;
  margin-bottom: 110px;

  @media (max-width: $tablet-width-only) {
    margin-top: 10px;
    margin-bottom: 28px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 37px;
  }
}
