.page-header {
  background-color: $black;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  height: 825px;
  background: $black url("../img/promo-bike.jpg") no-repeat;
  background-size: contain;
  background-position: center top;
  position: relative;
}

.page-header__main-nav {
  margin-bottom: 261px;
}
