.page-header {
  background-color: $black;
}

.page-header__wrapper {
  height: 825px;
  background: $black url("../img/promo-bike.jpg") no-repeat;
  background-size: contain;
  background-position: center top;
  position: relative;
}

.page-header__grid {
  max-width: 879px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 62px 255px 267px;
  margin: 0 auto;
}

.page-header__title,
.page-header__feedback {
  margin-top: 7px;
}


