.page-footer {
  text-align: center;
  padding-bottom: 80px;
  margin-top: auto;

  @media (max-width: $tablet-width-only) {
    padding-bottom: 40px;
  }
}

.page-footer__contacts {
  margin-bottom: 28px;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 11px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 17px;
  }
}

.page-footer__contacts-list {
  margin: 0 auto;
}
