.title {
  max-width: 350px;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}

.title__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  color: $white;
  letter-spacing: -0.005em;
  margin-top: 46px;
  margin-bottom: 25px;
}

.title__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: $white;
  letter-spacing: -0.005em;
  max-width: 380px;
}
