.title {
  max-width: 380px;

  @media (max-width: $tablet-width) {
    max-width: 435px;
  }
}

.title__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  color: $white;
  letter-spacing: -0.005em;
  margin-top: 46px;
  margin-bottom: 25px;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 42px;
    margin-top: 85px;
    margin-bottom: 20px;
  }
}

.title__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: $white;
  letter-spacing: -0.005em;

  @media (max-width: $tablet-width) {
    font-size: 18px;
  }
}

