.title {
  max-width: 380px;

  @media (max-width: $tablet-width-only) {
    max-width: 435px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 90%;
  }

  h1 {
    font-weight: 700;
    font-size: 46px;
    line-height: 64px;
    color: $white;
    letter-spacing: -0.005em;
    margin-top: 46px;
    margin-bottom: 25px;

    @media (max-width: $tablet-width-only) {
      font-size: 30px;
      line-height: 42px;
      margin-top: 110px;
      margin-bottom: 20px;
    }

    @media (max-width: $mobile-width-only) {
      margin-top: 96px;
      margin-bottom: 19px;
    }
  }

  p {
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: $white;
    letter-spacing: -0.005em;


    @media (max-width: $tablet-width-only) {
      font-size: 18px;
    }
  }
}
