$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1023px;
$desktop-width: 1024px;
$desktop-width-only: 1440px;

$black: #000000;
$white: #ffffff;
$white-20: rgba(255, 255, 255, 0.2);
$link-water: #c9ccd4;
$nero: #1c1c1c;
$egg-blue: #0ad9c6;
$black-russian-20: rgba(20, 21, 23, 0.2);
$white-smoke: #f6f6f6;
$tuna: #48494d;
$alice-blue: #f6f7f9;
