
// global
@import "global/variables.scss";
@import "global/fonts.scss";
@import "global/global.scss";
@import "global/mixin.scss";

// blocks

@import "blocks/container.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/logo.scss";
@import "blocks/title.scss";
@import "blocks/feedback.scss";
@import "blocks/btn.scss";
@import "blocks/contacts.scss";
@import "blocks/contacts-list.scss";
@import "blocks/page-footer.scss";
@import "blocks/page-main.scss";
@import "blocks/about.scss";
